$baseFontSize: 16px;

@function pxToRem($val) {
  $remSize: $val/$baseFontSize;
  @return #{$remSize}rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  counter-reset: section08Counter;
}

a {
  text-decoration: none;
}

.container--width {
  max-width: pxToRem(1110px);
  min-width: pxToRem(320px);
  margin: auto;
}

.fixed-menu {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 100;
}


  .fixed-menu {
    .sec-01__logo-container {
      background-color: #fff;
      padding-right: 2rem;
      padding-left: 2rem;
      margin: 0;
    }
  }
