@font-face {
  font-family: GothaB;
  src: url('fonts/GothaProBol.woff') format("woff"),
       url('fonts/GothaProBol.woff2') format("woff2");
}

.owl-carousel {
  display: flex!important;
  align-items: flex-end!important;
}

// OWL DOTS
.owl-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.3rem;
}

.owl-dot {
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
  background-color: #e5e5e5;
  margin-right: .8rem;
  &:last-child {
    margin-right: 0;
  }
}

.owl-dot.active {
  background-color: #000;
}

.sec-01 {
  .owl-dot {
    display: none;
  }
}

.sec-06 {
  .owl-dots {
    position: absolute;
    bottom: -1rem;
    // right: 0;
  }
}

.sec-10 {
  .owl-dots {
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

.sec-12 {
  .owl-dots {
    display: none;
  }
  .owl-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 4rem;
    height: 1.7rem;
    background-color: #fff;
    position: absolute;
    bottom: -1rem;
    left: 0;
    .owl-prev {
      margin-right: 1rem;
    }
    div {
      svg {
        fill: #000;
        width: .7rem;
        height: .7rem;
      }
    }
  }
}

@media (min-width: 768px) {
  .sec-12 {
    .owl-nav {
      width: 6rem;
      height: 2.1rem;
    }
  }
}

@media (min-width: 1200px) {
  .sec-06 {
    .owl-dots {
      bottom: -1.7rem;
      right: 8rem;
    }
  }

  .sec-10 {
    .owl-dots {
      bottom: -3.3rem;
    }
  }
}
