.sec-05 {
  padding-top: 1.9rem;
  padding-bottom: 2rem;
}

.sec-05__title {
  font-family: FuturaCB;
  font-size: 2.1rem;
  line-height: 1.3;
  padding-left: 3.3rem;
  padding-right: 3rem;
  margin-bottom: 1.9rem;
  color: #282828;
}

.sec-05__list {
  padding-left: 2.9rem;
}

.sec-05__list-item {
  display: flex;
  font-family: FuturaC;
  font-size: pxToRem(17px);
  margin-bottom: 1.5rem;
  &:last-of-type {
    margin-bottom: 0;
  }
  span {
    padding-top: .4rem;
    padding-right: 3rem;
    letter-spacing: -.5px;
  }
  img {
    display: block;
    margin-right: 2.1rem;
    width: 46px;
    height: 46px;
  }
}

.sec-05__btn {
  display: block;
  text-decoration: none;
  color: #fff;
  background-color: #f47a44;
  padding: .8rem 0;
  margin: auto;
  width: 11rem;
  text-transform: uppercase;
  text-align: center;
  font-family: FuturaC;
  font-size: pxToRem(12px);
  margin-top: .7rem;
}

@media (min-width: 768px) {
  .sec-05 {
    padding-top: 8.9rem;
  }

  .sec-05__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 1rem;
  }

  .sec-05__list-item {
    width: 33%;
  }

  .sec-05__title {
    font-family: FuturaC;
    padding-left: 4rem;
    width: 26rem;
    position: relative;
    &::before {
      display: block;
      content: "";
      position: absolute;
      top: 1.1rem;
      left: 1rem;
      width: 2.2rem;
      height: 2px;
      background-color: #000;
    }
  }

  .sec-05__list-item {
    span {
      padding-right: 1.7rem;
    }
  }

  .sec-05__list-item {
    img {
      margin-right: 1.3rem;
    }
  }
}

@media (min-width: 1200px) {
  .sec-05 {
    padding-top: 7.2rem;
  }

  .sec-05__title {
    font-size: pxToRem(48px);
    width: auto;
    padding-left: 10.2rem;
    width: 42rem;
    line-height: 1.2;
    margin-bottom: 3.6rem;
    &::before {
      top: 1.3rem;
      left: 6.1rem;
      width: 2.8rem;
      height: 3px;
    }
  }

  .sec-05__list {
    padding-left: 6.1rem;
    justify-content: flex-start;
  }

  .sec-05__list-item {
    font-size: pxToRem(18px);
    margin-bottom: 2.7rem;
    width: 30.7%;
    span {
      padding-right: 5.7rem;
    }
  }

  .sec-05__btn {
    width: 13rem;
    margin-top: 1.2rem;
    padding: 1rem 0;
    font-size: pxToRem(14px);
  }
}
