.sec-11 {
  padding-top: 2.6rem;
  padding-bottom: 6.4rem;
  background-color: #393939;
}

.sec-11__title {
  font-family: FuturaC;
  font-size: pxToRem(36px);
  color: #fff;
  position: relative;
  line-height: 1.2;
  padding-right: 2.2rem;
  padding-left: 4.4rem;
  margin-bottom: 2.2rem;
  &::before {
    display: block;
    content: "";
    width: 2.5rem;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 1rem;
    left: .7rem;
  }
}

.sec-11__top-paragraph {
  font-family: FuturaL;
  font-size: pxToRem(16px);
  color: #fff;
  padding-left: 5.6rem;
  padding-right: 1.1rem;
  margin-bottom: 2.1rem;
  span {
    color: #fc864d;
  }
  &:nth-of-type(n+1) {
    line-height: 1.5;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
}

.sec-11__desctop-paragraph {
  display: none;
}

.sec-11__picture {
  display: block;
  margin-bottom: .5rem;
}

.sec-11__img {
  display: block;
  margin: auto;
}

.sec-11__picture__description {
  font-family: FuturaL;
  font-size: pxToRem(16px);
  color: #fff;
  text-align: center;
}

.sec-11__top-text-container {
  margin-bottom: 4.8rem;
}

.sec-11__picture-card {
  margin-bottom: 2.8rem;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.sec-11__statistics__content {
  font-family: FuturaCB;
  color: #fc8850;
  font-size: pxToRem(60px);
  span {
    display: block;
    font-size: pxToRem(16px);
  }
}

.sec-11__top-content {
  margin-bottom: 4.9rem;
}

.sec-11__statistics-container {
  padding-left: 4.3rem;
}

.sec-11__statistics-item {
  margin-bottom: 1.8rem;
  &:nth-of-type(n+2) {
    span {
      padding-left: .5rem;
    }
  }
  &:last-of-type {
    margin-bottom: 0;
  }
  &:first-of-type {
    padding-left: .5rem;
  }
}

.sec-11__bottom-content {
  position: relative;
  z-index: 0;
  &::before {
    display: block;
    content: "EQUIUM";
    position: absolute;
    top: 10.2rem;
    left: -8.9rem;
    font-family: FuturaCB;
    font-size: pxToRem(125px);
    color: #3d3d3d;
    z-index: -1;
    transform: rotate(90deg);
  }
}

@media (min-width: 768px) {
  .sec-11__top-content {
    display: flex;
  }

  .sec-11__top-text-container {
    width: 70%;
    padding-right: 1rem;
  }

  .sec-11__top-picture-container {
    width: 30%;
  }

  .sec-11__statistics-container {
    display: flex;
    justify-content: space-between;
    padding-right: 4.3rem;
  }

  .sec-11__bottom-content::before {
    transform: rotate(0);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 10.8125rem;
  }
}

@media (min-width: 1200px) {
  .sec-11 {
    padding-top: 6.9rem;
  }

  .sec-11__title {
    font-size: pxToRem(46px);
    padding-left: 10.4rem;
    margin-bottom: 2.8rem;
    &::before {
      width: 2.9rem;
      top: 1.3rem;
      left: 6.1rem;
    }
  }

  .sec-11__top-paragraph {
    font-size: pxToRem(18px);
    padding-left: 15.3rem;
    line-height: 1.2;
  }

  .sec-11__desctop-paragraph {
    display: block;
  }

  .sec-11__top-picture-container {
    padding-top: 1rem;
  }

  .sec-11__picture-card {
    padding-right: 3.9rem;
    margin-bottom: 3.8rem;
  }

  .sec-11__picture {
    margin-bottom: .7rem;
  }

  .sec-11__statistics__content {
    font-size: pxToRem(70px);
    span {
      font-family: FuturaL;
      font-size: pxToRem(18px);
    }
  }

  .sec-11__top-content {
    margin-bottom: 1.1rem;
  }

  .sec-11__statistics-container {
    padding-left: 9.7rem;
  }

  .sec-11__bottom-content {
    &::before {
      font-size: pxToRem(220px);
    }
  }
}
